@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@600..700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 500;
}
button {
  background: unset;
  border: unset;
}
button,
input,
select {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
body {
  background: #ffffff;
  color: #000000;
  display: block;
  font-family: Inter, sans-serif;
  font-size: calc(6px + 0.78vmax + 0.02vmin);
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
