@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
}
button {
  background: unset;
  border: unset;
}
body {
  background: brown;
  color: white;
  display: block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
