*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
}
body {
  min-height: 100vh;
  color: white;
  background: brown;
  line-height: 1.5;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
